.Contact {
    grid-column: col-start 5 / span 4;
}

.Contact p {
    margin:0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.Contact a {
    text-decoration: underline;
    text-underline-position: under;
    color: #333333;
}