.Contact {
    grid-column: col-start 4 / span 5;
}

.Contact p {
    margin:0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.Contact a {
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
    text-underline-position: under;
    color: #333333;
    line-height: 20px;
    transition: all 0.4s ease;
}

.Contact a:hover {
    margin-left: 8px;
    transition: all 0.4s ease;
    text-decoration: underline;
}