html {
  margin: 0;
  background-color: #fafafa;
  color: #333333;
  font-family: 'inter','Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 900;
  font-size: 48px;
}