.Navigation {
    margin-top: 20px;
    grid-column: col-start 10 / span 2;
}

.Navigation ul {
    display: contents;
    list-style: none;
}

.Navigation li {
    display: inline;
}

.Navigation li:last-child {
    margin-left: 20px;
}

.Navigation a {
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #333333;
}

.current {
    font-weight: 600;
}

